/* --------------------------
    fonts
----------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");


/* --------------------------
    global variables
----------------------------- */

:root {
    --background-color: #2d25a0;
}

/* --------------------------
    body and utilities 
----------------------------- */

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* --------------------------
    header section
----------------------------- */

.header-section {
    background-color: var(--background-color);
}

.hero-area {
    padding: 40px;
    display: flex;
}

.hero-area>div {
    width: 50%;
}

.hero-info-area {
    margin-top: 200px;
    margin-left: 140px;
}

.hero-area-title {
    font-weight: 700;
    font-size: 64px;
    color: white;
    margin-bottom: 27px;
}

.button {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    background-color: #e02c6d;
    color: white;
}

.hero-image-area {
    padding: 60px;
}

.hero-image-area img {
    width: 100%;
}

/* --------------------------
    header done
----------------------------- */

/* --------------------------
    players area start
----------------------------- */

.all-players-area {
    margin-top: 70px;
}

.players {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}

.player {
    padding: 15px;
    box-shadow: 0px 0px 50px rgb(209, 209, 209);
}

.player img {
    width: 100%;
}

/* --------------------------
    players area start
----------------------------- */

/* --------------------------
    highlight area start
----------------------------- */

.highlight-area {
    margin-top: 165px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 200px;
}

.highlight-detail {
    margin-top: 130px;
}

.highlight-title {
    font-size: 48px;
    font-weight: 700;
    color: #0a0826;
}

.highlight-detail p {
    margin-bottom: 24px;
    width: 440px;
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}

.highlight-picture img {
    width: 100%;
}

/* --------------------------
    highlight area end
----------------------------- */



/* --------------------------
    footer area
----------------------------- */
.footer-area {
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 483.87px;
}

.social-icons i {
    font-size: 20px;
    margin-right: 14px;
    color: #969BAB;
    background-color: #e7e7e8;
    padding: 10px;
    border-radius: 50%;
}

.copyright-text {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 63px;
}